.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.plus-sign {
  font-size: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background-color: orange;
  padding: 2rem;
}

button {
  padding: 2em 4em;

  background-color: rgb(205, 50, 84);
  border-radius: 20%;
  border: solid 1px blue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
